@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

html {
    background-color: white;
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
    /* height: 100vh; */
    /* width: 100vw; */
    /* height: 100%; */
    /* width: 100%; */
}

html {
    height: 100%;
    max-width: 100vw;
}

body {
    height: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

* {
    box-sizing: border-box;
    font-family: "MuseoModerno";
    font-family: "Lato", sans-serif;
    font-weight: 300;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0.075em 0.35em;
    transition: 0.5s linear;
}

.container {
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 90%; */
    height: 80%;
}

#page-list {
    width: 100%;
    height: 100%;
    display: flex;

}

#about {
    background-color: #999999;
    padding: 4vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about * {
    color: white;
}

#about h1 {
    /* text-align: center; */
}

#about a:visited {
    color: unset;
}

#about a:hover {
    color: darkgray;
}

#out-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ins {
    font-weight: 500;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header {
    /* top: 0;
    left: 0; */
    margin: 0;

    height: 20%;
    width: 100vw;
}

.page-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#nav-bar {
    height: 100%;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-right: 5vmin;
}

#title {
    max-height: min-content;
    /* max-width: 50vw; */
    margin: 0;
    font-size: 3vmax;
    opacity: 100%;
    text-align: center;
    /* white-space: nowrap; */
}


.nav-link {
    transition: 0.2s linear;
    /* transition: visibility 0.s linear; */
    font-size: 1.75vmax;
    color: black;
    font-weight: 300;
}

a:visited {
    color: unset;
}

a:hover,
a:active {
    /* font-weight: 100; */
    /* color: rgb(111, 76, 31); */
    color: lightgray;
}


ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    padding-inline-start: unset;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 0px;
}

.display-image-container {
    height: 100%;
}


@media (orientation:landscape) {

    /* define a fixed height, scale width accordingly */
    .display-image {
        height: 100%;
        opacity: 80%;
        transition: 0.25s ease-in;
    }

    .display-image:hover {
        opacity: 100%;
    }

    .display-image-container {
        padding-bottom: 0.2vw;
        padding-left: 0.2vw;
    }

    .content-list {
        height: 100%;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #page-list {
        overflow-x: scroll;
    }

    .page-list-item {
        min-height: 100%;
        width: 100%;
    }

    .container {
        transition: 1s ease;

    }

    #about {
        height: 100%;
        width: 90%;
    }

    #profile-pic:hover {
        opacity: 100%;
    }
}

.content-list {
    display: flex;
    /* overflow-y: hidden; */
}

@media (orientation:portrait) {

    /* define a fixed width, scale height accordingly */
    html,
    body,
    .container {
        overflow-x: hidden;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .display-image {
        /* width: 80vw; */
        /* height: 90vh; */
        width: 100vw;
    }

    .display-image-container {
        /* padding-bottom: 0.1vmin; */
    }

    .container {
        /* position: fixed; */
        padding: 0;
        overflow-x: hidden;
        height: 90%;
    }

    header {
        height: 10%;
    }

    #page-list {
        width: 100%;
        height: 100%;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: auto;
        /*touch*/
    }

    .page-list-item {
        min-width: 100%;
        height: 100%;
    }

    .content-list {
        justify-content: flex-start;
        align-items: flex-start;
        /* display: flex; */
        flex-direction: column;
        /* padding: 0; */
    }

    .block {
        /* overflow-y: scroll; */
        /* min-height: 95vh; */
        height: fit-content;
        /* height: 20vh; */
    }

    .nav-link {
        /* display: none; */
    }

    #title {
        display: block
    }

}


.page-list-item {
    height: 100%;
}

li {
    height: 100%;
    /* overflow-y: hidden; */
}

.display-image {
    margin: 0;
    /* padding: 0; */
    position: relative;
}

#profile-pic {
    opacity: 90%;
}

.image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20vmax;
    width: 100%;
}